<div class="container">
    <div class="section">
        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <a routerLink="/gen" class="indigo-text">
                    <div class="card">
                        <div class="card-image">
                            <img src="assets/menu3.jpg" style="width: 100%; height: 100%;">
                        </div>
                        <div class="card-action center">
                            <h5 class="center">Generación</h5>
                            <i class="material-icons small">flash_on</i>

                        </div>
                    </div>
                </a>
            </div>

            <div class="col s12 m4">
                <a routerLink="/solar" class="indigo-text">
                    <div class="card">
                        <div class="card-image">
                            <img src="assets/menu2.jpg">
                        </div>
                        <div class="card-action center">

                            <h5 class="center">Solar</h5>
                            <i class="material-icons small">brightness_5</i>

                        </div>
                    </div>
                </a>
            </div>

            <div class="col s12 m4">
                <a routerLink="/hidra" class="indigo-text">
                    <div class="card">
                        <div class="card-image">
                            <img src="assets/menu1.jpg">
                        </div>
                        <div class="card-action center">

                            <h5 class="center">Hidráulica</h5>
                            <i class="material-icons small">invert_colors</i>

                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>