<!--PRIMERA SECCION-->
<div class="parallax-container">
  <div class="container">

    <h1 class="header center letra1" style="color:#0948b7">
      <svg id="logo1" data-name="Capa 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 194.45 158.36">
        <defs>
        </defs>
        <line class="cls-1" x1="37.22" y1="140.24" x2="157.22" y2="140.24" />
        <line class="cls-1" x1="97.22" y1="41.24" x2="37.22" y2="140.24" />
        <line class="cls-1" x1="157.22" y1="140.24" x2="97.22" y2="41.24" />
        <polygon class="cls-1" points="137.22 129.24 59.22 129.24 98.22 102.24 137.22 129.24" />
        <polygon class="cls-2" points="137.22 129.24 59.22 129.24 98.22 102.24 137.22 129.24" />
        <polygon class="cls-3" points="137.22 129.24 98.22 102.24 98.22 67.24 137.22 129.24" />
        <path class="cls-4" d="M718,200,621,358H815Zm0,21.8,77.6,126.4H640.4Z" transform="translate(-620.78 -199.76)" />
        <polygon class="cls-5" points="98.22 67.24 98.22 102.24 59.22 129.24 98.22 67.24" />
      </svg>
      <br>
      Maquinas Major
    </h1>
  </div>
  <div class="parallax">
    <div class="parallax-window" data-parallax="scroll" data-image-src="assets/background1.jpg"></div>
  </div>
</div>

<!--segunda seccion-->

<div class="container">
  <div class="row" style="margin-bottom: 50px; margin-top: -50px;">
    <h4 class="header center">Visite nuestra variedad de maquinas.</h4>
  </div>
  <div class="row">
    <a class="icon-blue" href="/gen">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons large icon-blue" style="color:#0948b7">flash_on</i>
          </h2>
          <h5 class="center">Generación</h5>
        </div>
      </div>
    </a>
    <a class="icon-blue" href="/solar">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons large icon-blue" style="color:#0948b7">brightness_5</i>
          </h2>
          <h5 class="center">Solar</h5>
        </div>
      </div>
    </a>
    <a class="icon-blue" href="/hidra">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons large icon-blue"
              style="color:#0948b7">invert_colors</i></h2>
          <h5 class="center">Hidráulica</h5>
        </div>
      </div>
    </a>
  </div>
</div>

<!--3RA SECCION-->
<div class="parallax-container">
  <div class="parallax">
    <div class="parallax-window" data-parallax="scroll" data-image-src="assets/background2.jpg"></div>
  </div>
</div>

<!--cuarta seccion-->
<div class="container">
  <div class="section">
    <div class="row">
      <h4 class="center" style="margin-top:-99px">Somos Maquinas Major.</h4>

      <p class="center">Productos de alta calidad, con un servicio de pre y post venta que asegura la plena
        satisfacción de los clientes, siempre con respeto por las personas y la comunidad, en una permanente búsqueda
        de la excelencia.</p>

    </div>

    <div class="row">
      <h4 class="center">Contacte a un experto</h4>
      <a class="icon-blue">
        <div class="col s12 m4 l4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons large icon-blue" style="color:#0948b7">phone</i>
            </h2>
            <h5 class="center">09 4514 8749</h5>
          </div>
        </div>
      </a>
      <a class="icon-blue">
        <div class="col s12 m4 l4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons large icon-blue" style="color:#0948b7">mail</i>
            </h2>
            <h6 class="center">ventas.maquinasmajor@gmail.com</h6>
          </div>
        </div>
      </a>
      <a class="icon-blue" href="https://www.facebook.com/pg/ventas.major/">
        <div class="col s12 m4 l4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons large icon-blue" style="color:#0948b7;">thumb_up</i>
            </h2>
            <h5 class="center">Facebook</h5>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

<!--ULTIMA SECCION-->

<div class="parallax-container">
  <div class="parallax">
    <div class="parallax-window" data-parallax="scroll" data-image-src="assets/background3.jpg"></div>
  </div>
</div>


    <footer class="footer-distributed" style="margin-top: -100px;">
      <div class="footer-left">
        <h3>Maquinarias<span style="color:#0948b7;">Major</span></h3>
        <p class="footer-company-name">Company Name © 2015</p>
      </div>
      <div class="footer-center">
        <div>
          <i class="material-icons small">thumb_up</i>
          <a href="https://www.facebook.com/pg/ventas.major/">Visita nuestro Facebook!</a>
        </div>
        <div>
          <i class="material-icons small">contact_phone</i>
          <p>+569 4514 8749</p>
        </div>
        <div>
          <i class="material-icons small">contact_mail</i>
          <p><a href="mailto:ventas.maquinasmajor@gmail.com">ventas.maquinasmajor@gmail.com</a></p>
        </div>
      </div>

      <div class="footer-right">
        <p class="footer-company-about">
          <span>About the company</span>
          Productos de alta calidad, con un servicio de pre y post venta que asegura la plena
        satisfacción de los clientes, siempre con respeto por las personas y la comunidad, en una permanente búsqueda
        de la excelencia.
        </p>
        <div class="footer-icons">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-github"></i></a>
        </div>
      </div>
    </footer>
