<div class="nabvar-fixed">
  <nav class="white" role="navigation">
    <div class="nav-wrapper">
      <a href="/home" class="hide-on-med-and-down ">
        <svg  id="logo1" data-name="Capa 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 194.45 158.36">
          <defs>
          </defs>
          <line class="cls-1" x1="37.22" y1="140.24" x2="157.22" y2="140.24" />
          <line class="cls-1" x1="97.22" y1="41.24" x2="37.22" y2="140.24" />
          <line class="cls-1" x1="157.22" y1="140.24" x2="97.22" y2="41.24" />
          <polygon class="cls-1" points="137.22 129.24 59.22 129.24 98.22 102.24 137.22 129.24" />
          <polygon class="cls-2" points="137.22 129.24 59.22 129.24 98.22 102.24 137.22 129.24" />
          <polygon class="cls-3" points="137.22 129.24 98.22 102.24 98.22 67.24 137.22 129.24" />
          <path class="cls-4" d="M718,200,621,358H815Zm0,21.8,77.6,126.4H640.4Z"
            transform="translate(-620.78 -199.76)" />
          <polygon class="cls-5" points="98.22 67.24 98.22 102.24 59.22 129.24 98.22 67.24" />
        </svg>
      </a>
      <a href="/home" class="hide-on-large-only center">
        <svg  id="logo2" data-name="Capa 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 194.45 158.36">
          <defs>
          </defs>
          <line class="cls-1" x1="37.22" y1="140.24" x2="157.22" y2="140.24" />
          <line class="cls-1" x1="97.22" y1="41.24" x2="37.22" y2="140.24" />
          <line class="cls-1" x1="157.22" y1="140.24" x2="97.22" y2="41.24" />
          <polygon class="cls-1" points="137.22 129.24 59.22 129.24 98.22 102.24 137.22 129.24" />
          <polygon class="cls-2" points="137.22 129.24 59.22 129.24 98.22 102.24 137.22 129.24" />
          <polygon class="cls-3" points="137.22 129.24 98.22 102.24 98.22 67.24 137.22 129.24" />
          <path class="cls-4" d="M718,200,621,358H815Zm0,21.8,77.6,126.4H640.4Z"
            transform="translate(-620.78 -199.76)" />
          <polygon class="cls-5" points="98.22 67.24 98.22 102.24 59.22 129.24 98.22 67.24" />
        </svg>
      </a>
      <ul class="right">
        <li>
          <a href="/menu" class="indigo-text letra2 hide-on-med-and-down">Productos</a>
        </li>

        <li><a href="/menu" class="show-on-small hide-on-large-only"><i class="material-icons indigo-text">more_vert</i></a>
        </li>
      </ul>

    </div>
  </nav>
</div>

