#logo1.cls-1{
    fill:none;
}
.cls-1,.cls-3,.cls-4,.cls-5{

    stroke:#000;
    stroke-miterlimit:10;
    stroke-width:0.25px;
    transition: all 2.5s;
}
.cls-2{
    fill:#003a7f;
    fill-rule:evenodd;
    
}
.cls-3{
    fill:#3180f4;
}
.cls-4{
    fill:#0948b7;
}
.cls-5{
    fill:#a8c4f4;
}
#logo1{
    max-width: 4%; 
    height: auto;
    margin-top: 5px;
    margin-left: 5px;
}
#logo1:hover{
    background-color:#fafafa;
    padding: 10px;
    transition: all 2.5s;
}

#logo2{
    max-width: 13%; 
    height: auto;
}
#logo2:hover{
    background-color:#fafafa;
    padding: 10px;
    transition: all 2.5s;
}

.activo{
    background-color: rgb(241, 241, 241);
}